<?php $fees = $block->getSalesFeeCollection(); ?>
<?php if (!empty($fees->getData())): ?>
	<tr class="summary-total mafee-summary-total" onclick="expandDetails(this, '.summary-mafee-details')">
        <td class="label">
            <div class="summary-collapse"><?php /* @escapeNotVerified */
                echo __($block->getFeeTitle()) ?></div>
        </td>
        <td>
            <?php /* @escapeNotVerified */
            echo $block->displayAmount($block->getMaExtraFee(), $block->getBaseMaExtraFee()); ?>
        </td>
    </tr>
    <?php $isTop = 1; ?>
    <?php foreach ($fees as $fee): ?>
        <tr class="summary-mafee-details<?php if ($isTop) {
            echo ' summary-details-first';
        } ?>" style="display:none">
            <?php if ($fee->getFeeType() == 'percentage'): ?>
                <td class="label"><?php /* @escapeNotVerified */
                    echo $fee->getFeeLabel() . ' ' . $fee->getFeeAmount() . '%'; ?></td>
            <?php else: ?>
                <td class="label"><?php /* @escapeNotVerified */
                    echo $fee->getFeeLabel(); ?></td>
            <?php endif; ?>
            <td><?php echo $block->displayAmount($fee->getRealAmount(), $fee->getRealAmount()); ?></td>
        </tr>
        <?php $isTop = 0; ?>
    <?php endforeach; ?>
<?php endif;
