.mafee-summary-total.show-details span.price:after {
	transform: rotate(180deg);
}
.mafee-summary-total span.price:after {
	border-color: #41362f transparent transparent transparent;
	border-style: solid;
	border-width: .5rem .4rem 0 .4rem;
	content: '';
	height: 0;
	position: relative;
	transition: all .2s linear;
	width: 0;
	top: -2px;
	right: -8px;
	margin-top: 5px;
	margin-right: 0;
	padding-left: 1px;
	display: inline-block;
	margin-bottom: 0;
}