#itoris_dynamicproductoptions .form-list .field, .itoris_dynamicproductoptions .form-list .field {
	width: 270px;
}

.validation-advice {
    margin: 5px 0 0;
    color: #df280a;
    font-size: 13px;
}

#itoris_dynamicproductoptions .form-list input.default-message,
#itoris_dynamicproductoptions .form-list textarea.default-message,
.itoris_dynamicproductoptions .form-list input.default-message,
.itoris_dynamicproductoptions .form-list textarea.default-message {
	font-style: italic;
	color: #a4a4a4;
}
#itoris_dynamicproductoptions .form-list.option-fields-cols-1 .field,
.itoris_dynamicproductoptions .form-list.option-fields-cols-1 .field {
	width: 97%;
}
#itoris_dynamicproductoptions .form-list.option-fields-cols-1 .field .control,
.itoris_dynamicproductoptions .form-list.option-fields-cols-1 .field .control {
	width: auto;
}
#itoris_dynamicproductoptions .form-list.option-fields-cols-1 .field .control input,
#itoris_dynamicproductoptions .form-list.option-fields-cols-1 .field .control textarea,
.itoris_dynamicproductoptions .form-list.option-fields-cols-1 .field .control input,
.itoris_dynamicproductoptions .form-list.option-fields-cols-1 .field .control textarea {
	width: 100%;
}
#itoris_dynamicproductoptions .form-list.option-fields-cols-1 .field .control input[type="checkbox"],
#itoris_dynamicproductoptions .form-list.option-fields-cols-1 .field .control input[type="radio"],
.itoris_dynamicproductoptions .form-list.option-fields-cols-1 .field .control input[type="checkbox"],
.itoris_dynamicproductoptions .form-list.option-fields-cols-1 .field .control input[type="radio"] {
	width: auto;
}
#itoris_dynamicproductoptions .form-list .field .control input.datetime-picker,
.itoris_dynamicproductoptions .form-list .field .control input.datetime-picker {
	width: 150px;
}
#itoris_dynamicproductoptions .form-list.option-fields-cols-2 .field .time-picker,
.itoris_dynamicproductoptions .form-list.option-fields-cols-2 .field .time-picker {
	display: block;
	margin-top: 2px;
}
#itoris_dynamicproductoptions .form-list input[type="radio"],
#itoris_dynamicproductoptions .form-list input[type="checkbox"],
.itoris_dynamicproductoptions .form-list input[type="radio"],
.itoris_dynamicproductoptions .form-list input[type="checkbox"] {
	float: left;
	width: auto;
}
#itoris_dynamicproductoptions .form-list .options-list span.label,
.itoris_dynamicproductoptions .form-list .options-list span.label {
	display: block;
	margin-left: 18px;
}
#itoris_dynamicproductoptions .form-list .options-list li,
.itoris_dynamicproductoptions .form-list .options-list li {
	float: left;
	margin-right: 20px;
}
#itoris_dynamicproductoptions_popup, .itoris_dynamicproductoptions_popup {
	position: absolute;
	top: 75px;
	left: 50%;
	z-index: 3001;
	/*overflow: hidden;*/
	background-color: #ffffff;
	border: 3px solid #000000;
	border-radius: 3px;
	text-align: left;
    max-width:95%;
}
#itoris_dynamicproductoptions_popup .fieldset:first-child, .itoris_dynamicproductoptions_popup .fieldset:first-child {
	margin-top: 5px;
}
#itoris_dynamicproductoptions_popup .fieldset-section:first-child, .itoris_dynamicproductoptions_popup .fieldset-section:first-child {
	margin-top: 24px;
}
#itoris_dynamicproductoptions_popup .fieldset:last-child, .itoris_dynamicproductoptions_popup .fieldset:last-child {
	margin-bottom: 10px;
}
#itoris_dynamicproductoptions_popup .popup-title, .itoris_dynamicproductoptions_popup .popup-title {
	margin: 5px 0 0 5px;
}
#itoris_dynamicproductoptions_popup_mask {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #000000;
	opacity: 0.7;
	z-index: 3000;
}
#itoris_dynamicproductoptions_popup .product-options-bottom .add-to-box, .itoris_dynamicproductoptions_popup .product-options-bottom .add-to-box {
	display:inline-block;
	margin: 0;
}
#itoris_dynamicproductoptions_popup .product-options-bottom .add-to-box .or, .itoris_dynamicproductoptions_popup .product-options-bottom .add-to-box .or {
	float: none;
}
#itoris_dynamicproductoptions_popup_price {
	padding-right: 10px;
}
#itoris_dynamicproductoptions_button_edit {
	margin-top: 5px;
}
#itoris_dynamicproductoptions .itoris-dynamicoptions-list-images li,
.itoris_dynamicproductoptions .itoris-dynamicoptions-list-images li {
	clear: none;
	width: auto;
	float: left;
}

#itoris_dynamicproductoptions_popup, .itoris_dynamicproductoptions_popup {border: 6px solid #000000; border-radius:13px;}
#itoris_dynamicproductoptions_popup .popup-title, .itoris_dynamicproductoptions_popup .popup-title {text-align:center; font-weight:bold;}
#itoris_dynamicproductoptions .fieldset, .itoris_dynamicproductoptions .fieldset, #product-options-wrapper .fieldset.fieldset-section {margin:35px 0px 5px 0px; padding:0px; border:1px solid #888888; border-radius:5px;}
#itoris_dynamicproductoptions_popup #itoris_dynamicproductoptions .fieldset {margin:35px 10px 5px 10px;}
#itoris_dynamicproductoptions_popup .swatch-opt {display: block !important; margin:10px 10px;}
body .swatch-option-tooltip {z-index:3002;}
#itoris_dynamicproductoptions .fieldset table, .itoris_dynamicproductoptions .fieldset table {margin:10px 20px;}
#itoris_dynamicproductoptions .fieldset table td, .itoris_dynamicproductoptions .fieldset table td {padding:0px 0px 5px 0px;}
.itoris_dynamicproductoptions .fieldset table td {border: none;}
#itoris_dynamicproductoptions input[type=text], #itoris_dynamicproductoptions input[type=password],
.itoris_dynamicproductoptions input[type=text], .itoris_dynamicproductoptions input[type=password] {border:1px solid #88888; border-radius: 3px; padding:3px; font-size:12px; width:97%;}
#itoris_dynamicoptions_qty {width:40px;}
#itoris_dynamicproductoptions select, .itoris_dynamicproductoptions select {border:1px solid #88888; border-radius: 3px; width:97%;}
#itoris_dynamicproductoptions textarea, .itoris_dynamicproductoptions textarea {border:1px solid #88888; border-radius: 3px; padding:3px; font-size:12px; width:97%;}
#itoris_dynamicproductoptions select.multiselect, .itoris_dynamicproductoptions select.multiselect {height:auto;}
#itoris_dynamicproductoptions select option, .itoris_dynamicproductoptions select option {border:none;}
#itoris_dynamicproductoptions .no-margin, .itoris_dynamicproductoptions .no-margin {font-size:12px; line-height:14px; color:#666666; font-style:italic; clear:both;}
#itoris_dynamicproductoptions .fieldset .legend, .itoris_dynamicproductoptions .fieldset .legend {background:#f5f5f5; width:auto; border:1px solid #888888; border-bottom:1px solid #f5f5f5; border-top-left-radius:5px; border-top-right-radius:5px; font-size:14px; line-height:28px; color:#666666; margin: -29px 0px 0px 10px; padding:0px 15px;}
#itoris_dynamicproductoptions .fieldset-section h2.legend, .itoris_dynamicproductoptions .fieldset-section h2.legend {float:left;}
#itoris_dynamicproductoptions .options-list input.radio, #itoris_dynamicproductoptions .options-list input.checkbox,
.itoris_dynamicproductoptions .options-list input.radio, .itoris_dynamicproductoptions .options-list input.checkbox {padding:0;}
#itoris_dynamicproductoptions .options-list label, .itoris_dynamicproductoptions .options-list label {font-size:12px; line-height:18px; padding:0;width: auto;}
/*#itoris_dynamicproductoptions .form-list .options-list li{margin-right:20px !important;}*/
#itoris_dynamicproductoptions_popup .product-options-bottom, .itoris_dynamicproductoptions_popup .product-options-bottom {border-top:1px solid #aaaaaa; background:#dddddd; padding:5px 10px; text-align:right; white-space:nowrap;}
#itoris_dynamicproductoptions_popup_button_cancel, #itoris_dynamicproductoptions_popup_button_cancel span,
#itoris_dynamicproductoptions_popup_button_apply, #itoris_dynamicproductoptions_popup_button_apply span,
button.itoris_dynamicproductoptions_popup_button_cancel, button.itoris_dynamicproductoptions_popup_button_cancel span,
button.itoris_dynamicproductoptions_popup_button_apply, button.itoris_dynamicproductoptions_popup_button_apply span,
#itoris_dynamicoptions_add_to_cart, #itoris_dynamicoptions_add_to_cart span,
.itoris_dynamicoptions_add_to_cart, .itoris_dynamicoptions_add_to_cart span {background:none; border:none; padding:0; margin:0; height:32px;text-transform: none;font-weight: normal;}
#itoris_dynamicproductoptions_popup_button_apply span span, button.itoris_dynamicproductoptions_popup_button_apply span span,
#itoris_dynamicoptions_add_to_cart span span, .itoris_dynamicoptions_add_to_cart span span {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0567a3', endColorstr='#03395a'); /* IE6-9 */
	background: -webkit-gradient(linear, left top, left bottom, from(#0567a3), to(#03395a));
	background: -moz-linear-gradient(top,  #0567a3,  #03395a); /* firefox 3.6+ */
	background: -o-linear-gradient(top,  #0567a3,  #03395a); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #0567a3,  #03395a); /* IE10+ */
	color:#ffffff; border:none; border-radius:3px; padding:0px 15px; font-size:14px; line-height:32px;
}
#itoris_dynamicproductoptions_popup_button_cancel span span, button.itoris_dynamicproductoptions_popup_button_cancel span span {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF4E4E', endColorstr='#CE2929'); /* IE6-9 */
	background: -webkit-gradient(linear, left top, left bottom, from(#FF4E4E), to(#CE2929));
	background: -moz-linear-gradient(top,  #FF4E4E,  #CE2929); /* firefox 3.6+ */
	background: -o-linear-gradient(top,  #FF4E4E,  #CE2929); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #FF4E4E,  #CE2929); /* IE10+ */
	color:#ffffff; border:none; border-radius:3px; padding:0px 15px; font-size:14px; line-height:32px;
}
#itoris_dynamicproductoptions .fieldset, .itoris_dynamicproductoptions .fieldset {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f5f5', endColorstr='#ffffff'); /* IE6-9 */
	background: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#ffffff));
	background: -moz-linear-gradient(top,  #f5f5f5,  #ffffff); /* firefox 3.6+ */
	background: -o-linear-gradient(top,  #f5f5f5,  #ffffff); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f5f5f5,  #ffffff); /* IE10+ */
}
#itoris_dynamicproductoptions_popup_button_cancel {float:left}
#itoris_dynamicproductoptions_popup_price * {margin:0; padding:0; display:inline-block;}
#itoris_dynamicproductoptions_popup_price .price {line-height:22px; font-size:16px; color:#BC6600;}
#itoris_dynamicproductoptions_popup_price .old-price {display:none;}
#itoris_dynamicproductoptions .form-list .field-disabled {pointer-events: none;}
#itoris_dynamicproductoptions .form-list .field-disabled label, .itoris_dynamicproductoptions .form-list .field-disabled label {color: #aaaaaa;}
#itoris_dynamicproductoptions .form-list .field-disabled input, #itoris_dynamicproductoptions .form-list .field-disabled textarea,
#itoris_dynamicproductoptions .form-list .field-disabled select,
.itoris_dynamicproductoptions .form-list .field-disabled input, .itoris_dynamicproductoptions .form-list .field-disabled textarea,
.itoris_dynamicproductoptions .form-list .field-disabled select {background-color: #eeeeee;border-color: #dddddd;color:#aaaaaa;}
#itoris_dynamicproductoptions .form-list .field-disabled .control img, .itoris_dynamicproductoptions .form-list .field-disabled .control img {display: none;}
#itoris_dynamicproductoptions .form-list .date-trig-icon, .itoris_dynamicproductoptions .form-list .date-trig-icon {margin-left: 5px;margin-right:5px;cursor: pointer;}
.calendar {z-index: 15000;}

#itoris_dynamicproductoptions table.form-list,
#itoris_dynamicproductoptions table.form-list div.field,
#itoris_dynamicproductoptions table.form-list div.field div,
.itoris_dynamicproductoptions table.form-list,
.itoris_dynamicproductoptions table.form-list div.field,
.itoris_dynamicproductoptions table.form-list div.field div{width:100%}
#itoris_dynamicproductoptions table.form-list div.field div.date-ceil, .itoris_dynamicproductoptions table.form-list div.field div.date-ceil {width: 165px;}
#itoris_dynamicproductoptions table.form-list div.field div.date-ceil-picker, .itoris_dynamicproductoptions table.form-list div.field div.date-ceil-picker {width: 195px;}
#itoris_dynamicproductoptions table.form-list div.field div.date-ceil select, .itoris_dynamicproductoptions table.form-list div.field div.date-ceil select {margin-bottom: 3px;}

#itoris_dynamicproductoptions table.form-list, .itoris_dynamicproductoptions table.form-list {border-spacing:10px; margin:0 !important;border-collapse: separate;}
#itoris_dynamicproductoptions table.form-list:only-child, .itoris_dynamicproductoptions table.form-list:only-child {margin-top:-20px !important;}
#itoris_dynamicproductoptions_popup #itoris_dynamicproductoptions table.form-list:only-child {margin-top:0 !important;}
#itoris_dynamicproductoptions_popup_close_icon, .itoris_dynamicproductoptions_popup_close_icon {width: 38px;height: 38px;background: url(images/close.png) center no-repeat;right:-2px;top:-4px;cursor: pointer;position: absolute;}

#itoris_dynamicproductoptions .delete-file-icon, .itoris_dynamicproductoptions .delete-file-icon {width: 14px !important; height: 14px !important; background: url(images/icon-delete.gif) center no-repeat;cursor: pointer;display: inline-block;margin-left:5px;}

#itoris_dynamicproductoptions_configuration {clear: both;}
#itoris_dynamicproductoptions_configuration ul {list-style: none;}
#itoris_dynamicproductoptions_configuration strong, .itoris_dynamicproductoptions_configuration strong {vertical-align: top;}
#itoris_dynamicproductoptions_configuration .dynamicoptions-radio-checkbox-values, .itoris_dynamicproductoptions_configuration .dynamicoptions-radio-checkbox-values {display: inline-block;}
#itoris_dynamicproductoptions_configuration .dynamicoptions-radio-checkbox-values img, .itoris_dynamicproductoptions_configuration .dynamicoptions-radio-checkbox-values img {display: block;margin-bottom: 3px;}

#itoris_dynamicproductoptions_add_to_cart_configure.configure-button-update-page {float:none;margin-bottom: 10px;}
#itoris_dynamicproductoptions_add_to_cart_configure {clear:both;border-bottom:none;}

#product-options-wrapper .fieldset {border:none;}
#itoris_dynamicproductoptions_popup ul.option-fields-cols-1, .itoris_dynamicproductoptions_popup ul.option-fields-cols-1 {margin:10px;}

#itoris_dynamicproductoptions textarea, .itoris_dynamicproductoptions textarea {resize: none;}
#itoris_dynamicproductoptions .options-list.mage-error, .itoris_dynamicproductoptions .options-list.mage-error {border-width: 0 !important;padding: 0;}


.itoris-dynamicoptions-list-images img {clear:both; float: left;}

#itoris_dynamicproductoptions_popup .add-to-cart {display:inline-block;margin-left: 5px;}
#itoris_dynamicproductoptions_popup button span span {display: block;}
#itoris_dynamicproductoptions_popup_button_apply {margin-left:5px;}

#itoris_dynamicproductoptions .control .note, .itoris_dynamicproductoptions .control .note {font-size: 11px;}
#itoris_dynamicproductoptions textarea, .itoris_dynamicproductoptions textarea {border: 1px solid #C0C0C0;}

#itoris_dynamicproductoptions .form-list .field .control .input-text.option-qty, .itoris_dynamicproductoptions .form-list .field .control .input-text.option-qty {width: 40px;text-align: center; margin: 3px 0px; padding:4px;}

#itoris_dynamicproductoptions table.form-list {border-spacing: 0px !important;}
#itoris_dynamicproductoptions tr.fields td, .itoris_slider_group  .itoris_dynamicproductoptions tr.fields td {padding:0px !important;}
#itoris_dynamicproductoptions tr.fields td div.field, #itoris_dynamicproductoptions li.fields div.field, .itoris_slider_group  .itoris_dynamicproductoptions div.field {margin:5px; float:left;}
#itoris_dynamicproductoptions tr.fields td div.field .choice, #itoris_dynamicproductoptions li.fields div.field .choice, .itoris_slider_group  .itoris_dynamicproductoptions div.field .choice {width:auto;}
#itoris_dynamicproductoptions tr.fields td div.field.empty, .itoris_slider_group .itoris_dynamicproductoptions div.field.empty {display:none;}

.option-qty-comment {font-size:10px;}
#itoris_dynamicproductoptions label.required em {display:none;}
#itoris_dynamicproductoptions label.required:after{content:'*'; color:red; margin-left:5px;}
#itoris_dynamicproductoptions .field > div > label.label {display:none;}

#itoris_dynamicproductoptions ul.form-list {list-style:none; padding: 0px; margin: 0px 0px 0px 10px; display:table; width:100%;}

#itoris_dynamicproductoptions table.form-list div.field div.itoris-dynamicoptions-thumbnail-color,
.itoris_slider_group .itoris_dynamicproductoptions .choice .itoris-dynamicoptions-thumbnail-color,
.itoris-dynamicoptions-thumbnail-color {width:75px; height:75px;}
.dpo_swatch .itoris-dynamicoptions-thumbnail-image {max-height:75px;}
.dpo_swatch_custom_html > label.label {display:none !important}
.itoris-dynamicoptions-swatch_html {background:#fff;}

.itoris-dynamicoptions-list-images > div.dpo_swatch {position:relative}
.itoris-dynamicoptions-list-images > div.dpo_swatch > img, .itoris-dynamicoptions-list-images > div.dpo_swatch > .itoris-dynamicoptions-thumbnail-color, .itoris-dynamicoptions-list-images > div.dpo_swatch > .itoris-dynamicoptions-swatch_html {border:3px solid transparent; padding:1px; cursor:pointer; border-radius:5px; position:relative;}
.itoris-dynamicoptions-list-images > div.dpo_swatch > .itoris-dynamicoptions-swatch_html {border:1px solid #ccc;}
.itoris-dynamicoptions-list-images > div.dpo_swatch > input:checked ~ img, .itoris-dynamicoptions-list-images > div.dpo_swatch > input:checked ~ .itoris-dynamicoptions-thumbnail-color, .itoris-dynamicoptions-list-images > div.dpo_swatch > input:checked ~ .itoris-dynamicoptions-swatch_html {border:3px solid red; padding:1px;}
.itoris-dynamicoptions-list-images > div.dpo_swatch > input:checked ~ .itoris-dynamicoptions-thumbnail-color:after{content:''; border:1px solid #fff; position:absolute; left:0; top:0; right:0; bottom:0;}
.itoris-dynamicoptions-list-images > div.dpo_swatch > input {visibility:hidden; position:absolute; z-index:-1;}
.itoris-dynamicoptions-list-images > div.dpo_swatch > label, .dpo_tooltip_icon .dpo_tooltip_body {display:none;}
.itoris-dynamicoptions-list-images > div.dpo_swatch:hover > label, .dpo_tooltip_icon:hover .dpo_tooltip_body {display:block; position:absolute; z-index:2000; left:3px; margin-bottom:5px; bottom:100%; background:#fffefe; border:1px solid #aaa; padding:5px 15px !important; border-radius:3px; white-space:nowrap; box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);}
.itoris-dynamicoptions-list-images > div.dpo_swatch:hover > label:before, .itoris-dynamicoptions-list-images > div.dpo_swatch:hover > label:after, .dpo_tooltip_icon:hover .dpo_tooltip_body:before, .dpo_tooltip_icon:hover .dpo_tooltip_body:after {top: 100%; left: 15px; border: solid transparent; content: " "; height: 0; width: 0; position: absolute; pointer-events: none;}
.itoris-dynamicoptions-list-images > div.dpo_swatch:hover > label:after, .dpo_tooltip_icon:hover .dpo_tooltip_body:after { border-color: rgba(255, 255, 255, 0); border-top-color: #fff; border-width: 5px; margin-left: -5px;}
.itoris-dynamicoptions-list-images > div.dpo_swatch:hover > label:before, .dpo_tooltip_icon:hover .dpo_tooltip_body:before { border-color: rgba(204, 204, 204, 0); border-top-color: #ccc; border-width: 6px; margin-left: -6px;}
.itoris-dynamicoptions-list-images > div.dpo_swatch > .itoris-dynamicoptions-thumbnail-color.dpo-choice-none {border:1px solid #ccc; padding:3px;}
.dpo-choice-none:before, .dpo-choice-none:after {position: absolute; content: ''; background: #ccc; display: block; width: 100%; height: 1px; -webkit-transform: rotate(-45deg); transform: rotate(-45deg); left: 0; right: 0; top: 0; bottom: 0; margin: auto; }
.dpo-choice-none:after {-webkit-transform: rotate(45deg); transform: rotate(45deg); }

#itoris_dynamicproductoptions .options-list .dpo_swatch_text > input {visibility: hidden; position: absolute; z-index: -1;}
#itoris_dynamicproductoptions .options-list .dpo_swatch_text > label {border:1px solid #ccc; position:relative; border-radius:5px; background:#fff; padding:7px 15px; margin:2px; display:inline-block; cursor:pointer;}
#itoris_dynamicproductoptions .options-list .dpo_swatch_text > label:hover {background:#fafafa;}
#itoris_dynamicproductoptions .options-list .dpo_swatch_text > input:checked ~ label {border:2px solid red; margin:0;}
#itoris_dynamicproductoptions .options-list .dpo_swatch_text > label .dpo_tooltip_icon { position: absolute; left:0; top:0; right:0; bottom:0; margin:0;}
#itoris_dynamicproductoptions .options-list .dpo_swatch_text > label .dpo_tooltip_icon:after {display:none}
#itoris_dynamicproductoptions .options-list .dpo_swatch_text > label .dpo_tooltip_icon .dpo_tooltip_body {margin-bottom:8px;}
.dpo_tooltip_icon:hover:before{content:' '; position:absolute; left:-100%; right:-100%; top:-20px; height:40px; }
.dpo_swatch > label span:first-child:after {content:''; position:absolute; left:-50px; right:-50px; top:100%; height:20px;}

#itoris_dynamicproductoptions .mage-error {clear:both}
.bundle-options-container .product-options-wrapper #itoris_dynamicproductoptions .field.choice input {float:none}
.bundle-options-container .product-options-wrapper #itoris_dynamicproductoptions .field.choice .label {display:inline-block; margin-left:5px;}
.bundle-options-container .product-options-wrapper #itoris_dynamicproductoptions .field.choice .price-notice {float:none}
.bundle-options-container .product-options-wrapper #itoris_dynamicproductoptions .itoris-dynamicoptions-list-images > div.field.choice.dpo_swatch > label {display:none}
.bundle-options-container .product-options-wrapper #itoris_dynamicproductoptions .itoris-dynamicoptions-list-images > div.field.choice.dpo_swatch:hover > label {display:block}

@media only screen and (max-width: 490px) {
    #itoris_dynamicproductoptions_popup tr.fields td, #itoris_dynamicproductoptions_popup .add-to-cart {display:block;}
    #itoris_dynamicproductoptions_popup {max-width:95% !important;}
}

.dpo_tooltip_icon {margin-left:5px; cursor:pointer; position:relative; top:-2px;}
.dpo_tooltip_icon:after {content:'i'; display:inline-block; font-size:14px; line-height:16px; width:16px; height:16px; font-family:"Times New Roman", Times, serif; font-style:italic; font-weight:bold; text-align:center; border-radius:8px; background:#1979c3; color:#fff; text-indent: -1px;}
#itoris_dynamicproductoptions .fieldset .dpo_tooltip_icon .dpo_tooltip_body {font-size:12px; width:400px; left:-200px; text-align:left;}
.dpo_tooltip_icon:hover .dpo_tooltip_body {white-space: normal;}
.dpo_tooltip_icon:hover .dpo_tooltip_body:before, .dpo_tooltip_icon:hover .dpo_tooltip_body:after {left:50%; margin-left:-12px;}
.dpo_tooltip_body p {margin:3px 0;}
select.open-dd {box-shadow: 0px 0px 4px 1px rgb(10, 74, 139, 0.8);}
.dpo_dd_mask {position:absolute; left:0; right:0; top:0; background:transparent;}
.dpo_dd_list_outer {background:#fff; position:absolute; z-index:2; top:100%; border:1px solid #ccc; box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.4); margin-top:1px;}
.dpo_dd_list {position:relative; overflow-x:hidden; overflow-y:auto; max-height:300px}
#itoris_dynamicproductoptions table.dpo_dd_list_inner {margin:0px}
.dpo_dd_list_value {cursor:pointer; position:relative;}
.dpo_dd_list_value:not(.disabled):hover {background:#e1efff;}
.dpo_dd_list_value.disabled {opacity:0.3; pointer-events:none;}
.dpo_dd_list_value_selected, .dpo_dd_list_value_selected:hover {background:#f5f5f5;}
.dpo_dd_list_value_selected {font-weight:bold;}
.dpo_dd_list_preview {text-align:center; vertical-align:middle; width:90px; height:60px;}
.dpo_dd_list_preview img {display:inline-block; max-width:75px; max-height:50px; border-radius:5px;}
#itoris_dynamicproductoptions .form-list div.field .dpo_dd_list_preview div {display:inline-block; width:50px; height:50px; border-radius:5px; border:1px solid #ddd; position:relative; background:#fff;}
.dpo_dd_list_label {text-align:left; vertical-align:middle;}
#itoris_dynamicproductoptions .fieldset .form-list div.field .dpo_dd_search {width:calc(100% - 20px); margin:5px 10px; padding: 3px 10px; border:1px solid #ddd; font-size: 14px; background: url('data:image/svg+xml;utf8,<svg focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26 30"><path d="M15.5 14h-.79l-.28-.27A6.471 6.471 0 0 0 16 9.5 6.5 6.5 0 1 0 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"></path></svg>') no-repeat right 4px transparent;}
.nothing-found {margin: 20px 0; text-align:center;}

/* CSS from Template #2 */
#itoris_dynamicproductoptions .select2-hidden-accessible {display:inline-block !important; width:auto !important; height:auto !important; position:relative !important; border:1px solid #ccc !important; padding:10px !important}
#itoris_dynamicproductoptions .select2-container {display:none !important;}
#itoris_dynamicproductoptions input[type="text"] {border:1px solid #ccc; padding:10px !important;}

 table { font-family: arial, sans-serif; border-collapse: collapse; width: 100%; } 
 td, th { border: 1px solid #dddddd; text-align: left; padding: 8px; } 
 tr:nth-child(even) { background-color: #dddddd; }