<div class="prodDetailImprint">
	<div id="ctl01_ctl00_rptCriteriaSetImprint_ctl00_divExp"
		class="criteriaSetBox dataFieldBlock">
		<h5>Imprint Method</h5>
		<div
			id="ctl01_ctl00_rptCriteriaSetImprint_ctl00_divDistinctSetDetails"
			class="setDetail dataFieldBlock">Laser Engraving, Silkscreen, Pad
			Print</div>

		<div
			id="ctl01_ctl00_rptCriteriaSetImprint_ctl00_rptParentCriteria_ctl00_divSetDetails"
			class="setDetail dataFieldBlock"></div>


		<div class="dataFieldBlock">
			<span class="TxtLabel"> Imprint Method : Silkscreen </span>

			<div class="subCriteriaSetBox">

				<div class="setDetail dataFieldBlock"></div>
			</div>
		</div>

		<div class="dataFieldBlock">
			<span class="TxtLabel"> Imprint Method : Laser Engraving </span>

			<div class="subCriteriaSetBox">
				<div id="ctl01_ctl00_rptCriteriaSetImprint_ctl00_rptParentCriteria_ctl02_rptSubgroup_ctl00_rptSubset_ctl00_divNL"></div>
				<div>
					<div>Set-up Charge (Other)</div>
					<div class="table-responsive">
						<table border="0" summary="prices"
							class="priceGrid chargeGrid marginTop10 marginBot10">
							<thead>
								<tr class="headerRow">
									<th class="column1" scope="col">Quantity</th>
									<th
										id="ctl01_ctl00_rptCriteriaSetImprint_ctl00_rptParentCriteria_ctl02_rptSubgroup_ctl00_rptSubset_ctl01_chargegrid_Q1" scope="col">50</th>

									<th
										id="ctl01_ctl00_rptCriteriaSetImprint_ctl00_rptParentCriteria_ctl02_rptSubgroup_ctl00_rptSubset_ctl01_chargegrid_Q2" scope="col">100</th>

									<th
										id="ctl01_ctl00_rptCriteriaSetImprint_ctl00_rptParentCriteria_ctl02_rptSubgroup_ctl00_rptSubset_ctl01_chargegrid_Q3" scope="col">250</th>

									<th
										id="ctl01_ctl00_rptCriteriaSetImprint_ctl00_rptParentCriteria_ctl02_rptSubgroup_ctl00_rptSubset_ctl01_chargegrid_Q4"
										scope="col">500</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<th id="priceHeader" class="column1" scope="row">Price</th>
									<td
										id="ctl01_ctl00_rptCriteriaSetImprint_ctl00_rptParentCriteria_ctl02_rptSubgroup_ctl00_rptSubset_ctl01_chargegrid_L1">$125.00</td>

									<td
										id="ctl01_ctl00_rptCriteriaSetImprint_ctl00_rptParentCriteria_ctl02_rptSubgroup_ctl00_rptSubset_ctl01_chargegrid_L2">$125.00</td>

									<td
										id="ctl01_ctl00_rptCriteriaSetImprint_ctl00_rptParentCriteria_ctl02_rptSubgroup_ctl00_rptSubset_ctl01_chargegrid_L3">$125.00</td>

									<td
										id="ctl01_ctl00_rptCriteriaSetImprint_ctl00_rptParentCriteria_ctl02_rptSubgroup_ctl00_rptSubset_ctl01_chargegrid_L4">$125.00</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div>
						<span class="TxtLabel">Price Includes:</span> <span
							class="TxtValue">N/A</span>
					</div>
					<div></div>
				</div>


				<div
					id="ctl01_ctl00_rptCriteriaSetImprint_ctl00_rptParentCriteria_ctl02_rptSubgroup_ctl01_rptSubset_ctl00_divNL"></div>
				<div>


					<div>Run Charge (Per Quantity)</div>
					<div class="table-responsive">
						<table border="0" summary="prices"
							class="priceGrid chargeGrid marginTop10 marginBot10">
							<thead>
								<tr class="headerRow">
									<th class="column1" scope="col">Quantity</th>
									<th
										id="ctl01_ctl00_rptCriteriaSetImprint_ctl00_rptParentCriteria_ctl02_rptSubgroup_ctl01_rptSubset_ctl01_chargegrid_Q1"
										scope="col">50</th>

									<th
										id="ctl01_ctl00_rptCriteriaSetImprint_ctl00_rptParentCriteria_ctl02_rptSubgroup_ctl01_rptSubset_ctl01_chargegrid_Q2"
										scope="col">100</th>

									<th
										id="ctl01_ctl00_rptCriteriaSetImprint_ctl00_rptParentCriteria_ctl02_rptSubgroup_ctl01_rptSubset_ctl01_chargegrid_Q3"
										scope="col">250</th>

									<th
										id="ctl01_ctl00_rptCriteriaSetImprint_ctl00_rptParentCriteria_ctl02_rptSubgroup_ctl01_rptSubset_ctl01_chargegrid_Q4"
										scope="col">500</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<th id="priceHeader" class="column1" scope="row">Price</th>
									<td
										id="ctl01_ctl00_rptCriteriaSetImprint_ctl00_rptParentCriteria_ctl02_rptSubgroup_ctl01_rptSubset_ctl01_chargegrid_L1">$2.50</td>

									<td
										id="ctl01_ctl00_rptCriteriaSetImprint_ctl00_rptParentCriteria_ctl02_rptSubgroup_ctl01_rptSubset_ctl01_chargegrid_L2">$2.50</td>

									<td
										id="ctl01_ctl00_rptCriteriaSetImprint_ctl00_rptParentCriteria_ctl02_rptSubgroup_ctl01_rptSubset_ctl01_chargegrid_L3">$2.50</td>

									<td
										id="ctl01_ctl00_rptCriteriaSetImprint_ctl00_rptParentCriteria_ctl02_rptSubgroup_ctl01_rptSubset_ctl01_chargegrid_L4">$2.50</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div>
						<span class="TxtLabel">Price Includes:</span> <span
							class="TxtValue">N/A</span>
					</div>
					<div></div>
				</div>
				<div class="setDetail dataFieldBlock"></div>
			</div>
		</div>

		<div class="dataFieldBlock">
			<span class="TxtLabel"> Imprint Method : Pad Print </span>

			<div class="subCriteriaSetBox">


				<div
					id="ctl01_ctl00_rptCriteriaSetImprint_ctl00_rptParentCriteria_ctl03_rptSubgroup_ctl00_rptSubset_ctl00_divNL"></div>
				<div>


					<div>Run Charge (Other)</div>
					<div class="table-responsive">
						<table border="0" summary="prices"
							class="priceGrid chargeGrid marginTop10 marginBot10">
							<thead>
								<tr class="headerRow">
									<th class="column1" scope="col">Quantity</th>
									<th
										id="ctl01_ctl00_rptCriteriaSetImprint_ctl00_rptParentCriteria_ctl03_rptSubgroup_ctl00_rptSubset_ctl01_chargegrid_Q1"
										scope="col">50</th>

									<th
										id="ctl01_ctl00_rptCriteriaSetImprint_ctl00_rptParentCriteria_ctl03_rptSubgroup_ctl00_rptSubset_ctl01_chargegrid_Q2"
										scope="col">100</th>

									<th
										id="ctl01_ctl00_rptCriteriaSetImprint_ctl00_rptParentCriteria_ctl03_rptSubgroup_ctl00_rptSubset_ctl01_chargegrid_Q3"
										scope="col">250</th>

									<th
										id="ctl01_ctl00_rptCriteriaSetImprint_ctl00_rptParentCriteria_ctl03_rptSubgroup_ctl00_rptSubset_ctl01_chargegrid_Q4"
										scope="col">500</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<th id="priceHeader" class="column1" scope="row">Price</th>
									<td
										id="ctl01_ctl00_rptCriteriaSetImprint_ctl00_rptParentCriteria_ctl03_rptSubgroup_ctl00_rptSubset_ctl01_chargegrid_L1">$1.50</td>

									<td
										id="ctl01_ctl00_rptCriteriaSetImprint_ctl00_rptParentCriteria_ctl03_rptSubgroup_ctl00_rptSubset_ctl01_chargegrid_L2">$1.50</td>

									<td
										id="ctl01_ctl00_rptCriteriaSetImprint_ctl00_rptParentCriteria_ctl03_rptSubgroup_ctl00_rptSubset_ctl01_chargegrid_L3">$1.50</td>

									<td
										id="ctl01_ctl00_rptCriteriaSetImprint_ctl00_rptParentCriteria_ctl03_rptSubgroup_ctl00_rptSubset_ctl01_chargegrid_L4">$1.50</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div>
						<span class="TxtLabel">Price Includes:</span> <span
							class="TxtValue">N/A</span>
					</div>
					<div></div>
				</div>

				<div
					id="ctl01_ctl00_rptCriteriaSetImprint_ctl00_rptParentCriteria_ctl03_rptSubgroup_ctl01_rptSubset_ctl00_divNL"></div>
				<div>

					<div>Set-up Charge (Other)</div>
					<div class="table-responsive">
						<table border="0" summary="prices"
							class="priceGrid chargeGrid marginTop10 marginBot10">
							<thead>
								<tr class="headerRow">
									<th class="column1" scope="col">Quantity</th>
									<th
										id="ctl01_ctl00_rptCriteriaSetImprint_ctl00_rptParentCriteria_ctl03_rptSubgroup_ctl01_rptSubset_ctl01_chargegrid_Q1"
										scope="col">50</th>

									<th
										id="ctl01_ctl00_rptCriteriaSetImprint_ctl00_rptParentCriteria_ctl03_rptSubgroup_ctl01_rptSubset_ctl01_chargegrid_Q2"
										scope="col">100</th>

									<th
										id="ctl01_ctl00_rptCriteriaSetImprint_ctl00_rptParentCriteria_ctl03_rptSubgroup_ctl01_rptSubset_ctl01_chargegrid_Q3"
										scope="col">250</th>

									<th
										id="ctl01_ctl00_rptCriteriaSetImprint_ctl00_rptParentCriteria_ctl03_rptSubgroup_ctl01_rptSubset_ctl01_chargegrid_Q4"
										scope="col">500</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<th id="priceHeader" class="column1" scope="row">Price</th>
									<td
										id="ctl01_ctl00_rptCriteriaSetImprint_ctl00_rptParentCriteria_ctl03_rptSubgroup_ctl01_rptSubset_ctl01_chargegrid_L1">$75.00</td>

									<td
										id="ctl01_ctl00_rptCriteriaSetImprint_ctl00_rptParentCriteria_ctl03_rptSubgroup_ctl01_rptSubset_ctl01_chargegrid_L2">$75.00</td>

									<td
										id="ctl01_ctl00_rptCriteriaSetImprint_ctl00_rptParentCriteria_ctl03_rptSubgroup_ctl01_rptSubset_ctl01_chargegrid_L3">$75.00</td>

									<td
										id="ctl01_ctl00_rptCriteriaSetImprint_ctl00_rptParentCriteria_ctl03_rptSubgroup_ctl01_rptSubset_ctl01_chargegrid_L4">$75.00</td>

								</tr>

							</tbody>
						</table>
					</div>
					<div>
						<span class="TxtLabel">Price Includes:</span> <span
							class="TxtValue">N/A</span>
					</div>
					<div></div>
				</div>
				<div class="setDetail dataFieldBlock"></div>
			</div>
		</div>
	</div>
</div>