<?php 
// 	$writer = new \Zend\Log\Writer\Stream(BP . '/var/log/test.log');
// 	$logger = new \Zend\Log\Logger();
// 	$logger->addWriter($writer);
// 	$logger->info('Jewellll');
?>
<h3>Imprint Method</h3>
<div>Laser Engraving, Silkscreen, Pad Print</div>
<div>Imprint Method : Silkscreen</div>
<div>Imprint Method : Laser Engraving
<div>
<div>
<div>Set-up Charge (Other)</div>
<div>
<table border="1" summary="prices">
<thead>
<tr style="background-color: #f2f2f2;">
<th style="width: 57px;" scope="col">Quantity</th>
<th style="width: 51px;" scope="col">50</th>
<th style="width: 51px;" scope="col">100</th>
<th style="width: 51px;" scope="col">250</th>
<th style="width: 51px;" scope="col">500</th>
</tr>
</thead>
<tbody>
<tr>
<th style="width: 57px; background-color: #f2f2f2;" scope="row">Price</th>
<td style="width: 51px;">$125.00</td>
<td style="width: 51px;">$125.00</td>
<td style="width: 51px;">$125.00</td>
<td style="width: 51px;">$125.00</td>
</tr>
</tbody>
</table>
</div>
<div>Price Includes:&nbsp;N/A</div>
</div>
<div>
<div>Run Charge (Per Quantity)</div>
<div>
<table border="1" summary="prices">
<thead>
<tr style="background-color: #f2f2f2;">
<th scope="col">Quantity</th>
<th scope="col">50</th>
<th scope="col">100</th>
<th scope="col">250</th>
<th scope="col">500</th>
</tr>
</thead>
<tbody>
<tr>
<th style="background-color: #f2f2f2;">Price</th>
<td>$2.50</td>
<td>$2.50</td>
<td>$2.50</td>
<td>$2.50</td>
</tr>
</tbody>
</table>
</div>
<div>Price Includes:&nbsp;N/A</div>
</div>
</div>
</div>
<div>Imprint Method : Pad Print
<div>
<div>
<div>Run Charge (Other)</div>
<div>
<table border="1" summary="prices">
<thead>
<tr style="background-color: #f2f2f2;">
<th scope="col">Quantity</th>
<th scope="col">50</th>
<th scope="col">100</th>
<th scope="col">250</th>
<th scope="col">500</th>
</tr>
</thead>
<tbody>
<tr>
<th scope="row">Price</th>
<td>$1.50</td>
<td>$1.50</td>
<td>$1.50</td>
<td>$1.50</td>
</tr>
</tbody>
</table>
</div>
<div>Price Includes:&nbsp;N/A</div>
</div>
<div>
<div>Set-up Charge (Other)</div>
<div>
<table border="1" summary="prices">
<thead>
<tr style="background-color: #f2f2f2;">
<th scope="col">Quantity</th>
<th scope="col">50</th>
<th scope="col">100</th>
<th scope="col">250</th>
<th scope="col">500</th>
</tr>
</thead>
<tbody>
<tr>
<th scope="row">Price</th>
<td>$75.00</td>
<td>$75.00</td>
<td>$75.00</td>
<td>$75.00</td>
</tr>
</tbody>
</table>
</div>
<div>Price Includes:&nbsp;N/A</div>
</div>
</div>
</div>