<div>
<h3>Production Information</h3>
<div><label>Production Time</label>&nbsp;10 business days</div>
<div><label>Rush Service</label>&nbsp;Yes</div>
<div><label>Rush Time</label>&nbsp;5 business days</div>
<div><label>FOB Point</label>&nbsp;Plainview, NY 11803 USA</div>
<div><label>Shipping Weight</label>Weight: 1 lb.</div>
</div>
<div>
<h3>Production Time&nbsp;</h3>
<div>10 business days (10 Working Days)
</div>
</div>
<div>
<h3>Rush Time</h3>
<div>5 business days (5 Working Days)</div>
</div>