<?php
$posts = $this->getItems();
$titleLength = 35;
?>

<?php if ($posts->count()) : ?>
    <div class="block related-posts">
        <div class="block-title title">
            <strong><?php echo __('Related Posts') ?></strong>
        </div>
        <div class="block-content content">
            <?php if ($this->getRelatedPostsLayoutView() == 'list'): ?>
                <ul class="related-post-list">
                    <?php foreach ($posts as $post): ?>
                        <li>
                            <h5 class="post-title">
                                <a href="<?php echo $this->getPostUrl($post); ?>">
                                    <?php echo mb_substr($post->getTitle(), 0, $titleLength); ?>
                                    <?php echo (mb_strlen($post->getTitle()) > $titleLength) ? '...' : '' ?>
                                </a>
                            </h5>
                        </li>
                    <?php endforeach; ?>
                </ul>
            <?php endif; ?>
            <?php if ($this->getRelatedPostsLayoutView() == 'grid'): ?>
                <?php
                    $visibleCarousel = $this->getRelatedPostsNumberPerView();
                    $isCarousel = false;
                    if ($visibleCarousel < count($posts)) {
                        $isCarousel = true;
                    }
                ?>
                <ul class="related-post-grid <?php if ($isCarousel) echo "owl-carousel" ?>"
                    <?php if ($isCarousel): ?>
                        data-mage-init='<?php
                            echo $block->escapeHtml($this->helper('Magento\Framework\Json\Helper\Data')->jsonEncode([
                                'themeBlogCarousel' => [
                                    'responsive' => [992 => ['items' => $visibleCarousel]],
                                ],
                            ]))
                        ?>'
                    <?php endif; ?>>
                    <?php foreach ($posts as $post): ?>
                        <div class="inner">
                            <?php if ($imageUrl = $post->getImage()): ?>
                                <a href="<?php echo $this->getPostUrl($post); ?>" class="post-image">
                                    <img src="<?php echo $imageUrl; ?>" alt="" />
                                </a>
                            <?php endif; ?>
                            <h5 class="post-title">
                                <a href="<?php echo $this->getPostUrl($post); ?>">
                                    <?php echo mb_substr($post->getTitle(), 0, $titleLength); ?>
                                    <?php echo (mb_strlen($post->getTitle()) > $titleLength) ? '...' : '' ?>
                                </a>
                            </h5>
                        </div>
                    <?php endforeach; ?>
                </ul>
            <?php endif; ?>
        </div>
    </div>
<?php endif; ?>