<?php
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2019 Amasty (https://www.amasty.com)
 * @package Amasty_Extrafee
 */
?>
<?php
/** @var $block \Amasty\Extrafee\Block\Adminhtml\Fee\Edit\Tab\Option\Field */
$stores = $block->getStoresSortedBySortOrder();
?>
<?php
$values = $block->getOptionValues();
?>

<fieldset class="fieldset">
<div id="manage-options-panel" class="selected-type-options" data-index="fee_options_select_container">
    <table class="admin__control-table" data-index="fee_options_select">
        <thead>
            <tr id="attribute-options-table">
                <th class="col-draggable"></th>
                <th class="col-default control-table-actions-th"><span><?php /* @escapeNotVerified */ echo __('Is Default') ?></span></th>
                <th class="col-price control-table-actions-th"><span><?php /* @escapeNotVerified */ echo __('Price') ?></span></th>
                <th class="col-price-type control-table-actions-th"><span><?php /* @escapeNotVerified */ echo __('Type') ?></span></th>
                <?php
                foreach ($stores as $_store): ?>
                    <th<?php if ($_store->getId() == \Magento\Store\Model\Store::DEFAULT_STORE_ID): ?> class="_required"<?php endif; ?>>
                        <span><?php /* @escapeNotVerified */ echo __($_store->getName()) ?></span>
                    </th>
                <?php endforeach;
                $storetotal = count($stores) + 5;
                ?>
                <th class="col-delete">&nbsp;</th>
            </tr>
        </thead>
        <tbody data-role="options-container"></tbody>
        <tfoot>

        <tr>
            <th colspan="<?php /* @escapeNotVerified */ echo $storetotal; ?>" class="col-actions-add">
                <button id="add_new_option_button" data-action="add_new_row" title="<?php /* @escapeNotVerified */ echo __('Add Option'); ?>"
                        type="button" class="action- scalable add">
                    <span><?php /* @escapeNotVerified */ echo __('Add Option'); ?></span>
                </button>
            </th>
        </tr>
        </tfoot>
    </table>
    <input type="hidden" id="option-count-check" value="" />
</div>

<script id="row-template" type="text/x-magento-template">
    <tr>
        <td class="col-draggable">
            <div data-role="draggable-handle" class="draggable-handle" title="<?php /* @escapeNotVerified */ echo __('Sort Option'); ?>"></div>
            <input data-role="order" type="hidden" name="option[order][<%- data.id %>]"  value="<%- data.sort_order %>"/>
        </td>
        <td class="col-default control-table-actions-cell">
            <input class="input-radio" type="<%- data.intype %>" name="default[]" value="<%- data.id %>" <%- data.checked %>/>
        </td>
        <td class="col-price">
            <input class="validate-number input-text admin__control-text" name="option[price][<%- data.id %>]" type="text" name="price" value="<%- data.price %>"/>
        </td>
        <td class="col-price-type">
            <select class="select admin__control-select" name="option[price_type][<%- data.id %>]" id="option_price_type_<%- data.id %>_select">
                <?php foreach ($this->getPriceTypes() as $_priceType): ?>
                <option value="<?php echo $_priceType['value'];?>"><?php echo __($_priceType['label']); ?></option>
                <?php endforeach;?>
            </select>
            <input type="hidden" name="price_types" id="option_price_type_<%- data.id %>" value="<%- data.price_type %>"/>
        </td>
        <?php foreach ($stores as $_store): ?>
            <?php $_class = $_store->getId() == \Magento\Store\Model\Store::DEFAULT_STORE_ID ? 'required-entry required-option ' : '';?>
            <td class="col-<%- data.id %>"><input name="option[value][<%- data.id %>][<?php /* @escapeNotVerified */ echo $_store->getId() ?>]" value="<%- data.store<?php /* @escapeNotVerified */ echo $_store->getId() ?> %>" class="<?= $_class;?>input-text" type="text"/></td>
        <?php endforeach; ?>
        <td id="delete_button_container_<%- data.id %>" class="col-delete">
            <input type="hidden" class="delete-flag" name="option[delete][<%- data.id %>]" value="" />
            <button id="delete_button_<%- data.id %>" title="<?php /* @escapeNotVerified */ echo __('Delete') ?>" type="button"
                    class="action- scalable delete delete-option"
                >
                <span><?php /* @escapeNotVerified */ echo __('Delete') ?></span>
            </button>
        </td>
    </tr>
</script>
<script type="text/x-magento-init">
{
    "*": {
        "Magento_Catalog/js/options": {
            "attributesData": <?php /* @noEscape */ echo json_encode($values, JSON_HEX_QUOT); ?>,
            "isSortable": 1
        }
    }
}
</script>
<script>
    require([
        'jquery',
        'uiRegistry'
    ], function (jquery, registry) {
        var initialized = false;

        function init(){
            if (!initialized) {
                jquery('#manage-options-panel').trigger('render');

                $$('[name=price_types]').each(function (input) {
                    $(input.id + '_select').setValue(input.value);
                });

                jquery('[data-role=options-container]').sortable({cancel: 'select, input, button'});
                initialized = window.attributeOption.rendered;
            }
        }

        registry.get('manage-options-panel', init);
    });
</script>
</fieldset>