
Hello Product feed Index Page
<?php /** @var $block \Jewel\ProductFeed\Block\Index\Index */ ?>
<?php 
// $id = YOUR_PRODUCT_ID;
$sku = '60-890STM';
// $_product = $block->getProductById($id);
$_product = $block->loadMyProduct($sku);
// echo "<pre>";
// print_r($_product->getData());
// echo "</pre>";
echo $_product->getEntityId();
echo '<br />';
// echo $_product->getName();

?>

