<?php
/** @var \TemplateMonster\Blog\Block\Widget\PostList $block */
$dateFormat = $this->getDateFormat();
?>
<style>
    /* TODO: Move to SASS */
    .widget.blog-posts .post-items.list {
        display: block;
    }
</style>
<?php if ($posts = $this->getPosts()) : ?>
    <div class="block widget blog-posts">
        <div class="block-title">
            <strong role="heading" aria-level="2"><?php echo __($block->getTitle()) ?></strong>
        </div>
        <div class="block-content">
            <div class="post-items owl-carousel list"<?php if ($block->isEnabledCarousel()): ?>
                data-mage-init='<?php
                $visibleCarousel = $block->getPostAmountPerView();
                echo $block->escapeHtml($this->helper('Magento\Framework\Json\Helper\Data')->jsonEncode([
                    'themeBlogCarousel' => [
                        'responsive' => [992 => ['items' => $visibleCarousel]],
                    ],
                ]))
                ?>'
            <?php endif; ?>>
            <?php foreach ($posts as $post): ?>
                <div class="post-item">
                    <div class="item-wrapper">
                        <!-- Image -->
                        <?php if ($image = $post->getImage()): ?>
                        <div class="post-image">
                            <a href="<?php echo $this->getPostUrl($post); ?>"><img src="<?php echo $image ?>" /></a>
                        </div>
                        <?php endif; ?>

                        <!-- Title -->
                        <div class="post-title">
                            <h3>
                                <a href="<?php echo $this->getPostUrl($post); ?>">
                                    <?php echo $block->getPostTruncatedTitle($post); ?>
                                </a>
                            </h3>
                        </div>

                        <!-- Short Description -->
                        <div class="post-short-content">
                            <?php echo $block->filterContent($post->getShortContent()); ?>
                        </div>
                        <a href="<?php echo $this->getPostUrl($post); ?>" class="post-link">
                            <?php /* @escapeNotVerified */ echo __('More'); ?>
                        </a>

                        <!-- Metadata -->
                        <div class="post-data">
                            <?php if ($author = $post->getAuthor()): ?>
                                <span class="post-author">
                                    <span class="author"><?php echo $author; ?></span>
                                </span>
                            <?php endif; ?>
                            <span class="create-date">
                                    <span class="label"><?php echo __('on '); ?></span>
                                <time><?php echo date($dateFormat, strtotime($post->getCreationTime()));?></time>
                            </span>
                            <?php if ($post->getCommentsEnabled()) : ?>
                                <span class="post-comments">
                                    <a href="<?php echo $this->getPostUrl($post); ?>#post-comments">
                                        <span class="count">
                                            <?php echo $post->getApprovedComments()->count(); ?>
                                        </span>
                                    </a>
                                </span>
                            <?php endif; ?>
                        </div>
                    </div>
                </div>
            <?php endforeach; ?>
            </div>
        </div>
    </div>
<?php endif; ?>