<?php $helper = $this->helper('MageArray\ExtraFee\Helper\Data'); ?>
<?php $feesTitle = trim($helper->getProductFeeTitle()); ?>
<?php if($feesTitle != ''): ?>
	<?php $collection = $block->getProductFee(); ?>
	<?php if(!empty($collection->getData())): ?>
	<?php echo "<pre>"; print_r($collection->getData()); echo "</pre>"; ?>
	<div class="ma_extra_fees">
		<strong><?php echo __($feesTitle); ?></strong>
		<ul class="ma_fee_list">
			<?php foreach($collection as $fee): ?>
				<li>
					<span>
						<?php echo __($fee->getFeeLabel().': '); ?>
						<?php echo __($block->getAmountTitle($fee)); ?>
					</span>
				</li>
			<?php endforeach; ?>
		</ul>
	</div>
	<?php endif; ?>
	<?php if($helper->isOptionFeeEnabled()): ?>
		<script type="text/x-magento-init">
		{
			"#product_addtocart_form": {
				"MageArray_ExtraFee/js/options_fee": {
					"optionConfig": <?php /* @escapeNotVerified */ echo $block->getProductOptionFee() ?>
				}
			}
		}
		</script>
	<?php endif; ?>
<?php endif; ?>