<div class="block facebook" role="tablist">
	<div class="block-title">
		<strong><%- data.title %></strong>
	</div>
	<div class="block-content" role="tabpanel">
		<div class="fb-page"
	        data-href="<%- data.url %>"
	        data-tabs="<%- data.tabs %>"
	        data-width="<%- data.width %>"
	        data-height="<%- data.height %>"
	        data-small-header="<%- data.small_header %>"
	        data-adapt-container-width="<%- data.adapt_container_width %>"
	        data-hide-cover="<%- data.hide_cover %>"
	        data-show-facepile="<%- data.show_facepile %>">
	</div>
	</div>
</div>