<?php $fees = $block->getSalesFeeCollection(); ?>
<?php if (!empty($fees->getData())): ?>

    <?php $isTop = 1; ?>
    <?php foreach ($fees as $fee): ?>
        <tr class="totals tax details details-<?php /* @escapeNotVerified */
        echo $isTop; ?>">
            <?php if ($fee->getFeeType() == 'percentage'): ?>
                <td <?php /* @escapeNotVerified */
                echo $block->getLabelProperties() ?>>
                    <?php /* @escapeNotVerified */
                    echo $fee->getFeeLabel() . ' ' . $fee->getFeeAmount() . '%'; ?>
                </td>
            <?php else: ?>
                <td <?php /* @escapeNotVerified */
                echo $block->getLabelProperties() ?>>
                    <?php /* @escapeNotVerified */
                    echo $fee->getFeeLabel(); ?>
                </td>
            <?php endif; ?>
            <td <?php /* @escapeNotVerified */
            echo $block->getValueProperties() ?> rowspan="1">
                <?php echo $block->displayAmount($fee->getRealAmount(), $fee->getRealAmount()); ?>
            </td>
        </tr>
        <?php $isTop++; ?>
    <?php endforeach; ?>

	<?php if (empty($fees->getData())): ?>
    <tr class="totals-mafee-summary">
        <th <?php /* @escapeNotVerified */
        echo $block->getLabelProperties() ?> scope="row">
            <div class="detailed"><?php /* @escapeNotVerified */
                echo __($block->getFeeTitle()) ?></div>
        </th>
        <td <?php /* @escapeNotVerified */
        echo $block->getValueProperties() ?> data-th="<?php echo $block->escapeHtml(__($block->getFeeTitle())); ?>">
            <?php /* @escapeNotVerified */
            echo $block->displayAmount($block->getMaExtraFee(), $block->getBaseMaExtraFee()); ?>
        </td>
    </tr>
	<?php endif; ?>
<?php endif;
