.cart-totals .totals-mafee-summary .amount .price:after, .opc-block-summary .table-totals .totals-mafee-summary .amount .price:after {
    position: absolute;
    right: 3px;
    top: 3px;
}

.abs-sidebar-totals .totals-mafee-summary .amount .price:after, 
.cart-totals .totals-mafee-summary .amount .price:after, 
.opc-block-summary .table-totals .totals-mafee-summary .amount .price:after {
    -webkit-font-smoothing: antialiased;
    font-size: 12px;
    line-height: 12px;
    color: inherit;
    content: '\e622';
    font-family: 'luma-icons';
    vertical-align: middle;
    display: inline-block;
    font-weight: normal;
    overflow: hidden;
    speak: none;
    text-align: center;
}

.cart-totals .totals-mafee-summary .amount .price, .opc-block-summary .table-totals .totals-mafee-summary .amount .price {
    padding-right: 20px;
    position: relative;
    display: inline-block;
    text-decoration: none;
}

.cart-totals .totals-mafee-details, .opc-block-summary .table-totals .totals-mafee-details {
    border-bottom: 1px solid #ccc;
    display: none;
}

.cart-totals .totals-mafee-details.shown, .opc-block-summary .table-totals .totals-mafee-details.shown {
    display: table-row;
}
.abs-sidebar-totals .totals-mafee-summary.expanded .amount .price:after, 
.cart-totals .totals-mafee-summary.expanded .amount .price:after, 
.opc-block-summary .table-totals .totals-mafee-summary.expanded .amount .price:after {
    content: '\e621';
}