<?php $columnsLimit = $block->getColumnsLimit() ?: 0; ?>
<?php $_menu = $block->getHtml('level-top', 'submenu', $columnsLimit) ?>

<input type="checkbox" id="mitem-amp-navigation">
<nav class="amp-navigation">
    <ul>
        <?php echo $_menu; ?>
        <?php echo $block->getChildHtml(); ?>
    </ul>
</nav>